
/*------------------- Menu Container*/
.menu { position:relative;  float:left; font-size:13px; font-family:Arial, Helvetica, sans-serif; }

/* remove all the bullets, borders and padding from the default list styling */
.menu ul { padding:0; margin:0; list-style-type:none; text-align:center; display:inline; }

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu li { float:left;	 position:relative; display:inline; }

/* style the links for the top level */
.menu a,
.menu a:visited { /*display:block;*/	padding:7px 12px; margin-left:10px; text-decoration:none; color:#666; line-height:25px; }

/* style the top level hover */
.menu a:hover { color:#000000; }
.menu-active-link { color:#eb1d90; font-weight:normal; }
li.no-image a {  }
li.no-image a:hover {  text-decoration:none; }

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul { visibility:hidden; position:absolute;  height:0; left:0; text-align:left; }
#IEroot .menu ul ul { top:29px; }
html>body .menu ul ul { padding:0; top:22px; }

/* style the table so that it takes no part in the layout - required for IE to work */
.menu table { position:absolute; top:0; left:0; border-collapse:collapse; }

/* style the second level list items */
.menu ul ul { width:400px; height:auto; padding:0 1px 1px 1px; }
<html>body .menu ul ul { background:#f5f5f5; border: 1px solid #000000; padding-bottom:8px; }
.menu ul ul li { display:block; }
<html>body .menu ul ul li { width:auto; font-size:90%; padding:0; margin:0; }

/* style the links for the second level */
.menu ul ul a,
.menu ul ul a:visited { color:#666; width:auto; display:block; border:none; font-size:11px; background:#f5f5f5; display:block; padding:6px 0 6px 8px !important; margin:0; }
.menu>ul ul a,
.menu>ul ul a:visited { width:auto; height:20px; }

/* style the second level hover */
.menu ul ul a:hover { color:#fff !important;   background:#eb1d90; }

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul ,
.menu ul a:hover ul,
#sign-on-box ul li:hover ul,
#sign-on-box a:hover ul { visibility:visible; }
